[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
User=pizza
ExecStart=/usr/local/bin/cloudflared tunnel run pi-camera
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target